#post-office {
    background-color: rgb(0, 255, 157);
    color: white;
    padding: 15px;
    border-radius: 4px;
    display: flex !important;
    column-gap: 10px;
}

.message {
    background-color: wheat;
    /*margin-bottom: 50px;*/
    border-radius: 30px;
    padding: 12px;
    margin: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    overflow-y: auto;
}

textarea {
    max-width: 250px;
}

.sticker {
    height: 20px;
}

.button-sticker {
    height: 20px;
    position: relative;
    right: 10px;
    margin-top: 5px;
}

.button-sticker2 {
    height: 20px;
    position: relative;
    right: 3px;
    margin-top: 5px;
}

.s-sticker {
    background-position: -15px -17px;
    padding-left: 28px;
    background-image: url("https://web.archive.org/web/20171213231256im_/https://cdn.scratch.mit.edu/scratchr2/static/__868b8818d76143ec272057b47660c443__/images/icons_sm.png");
}