#post-office {
    background-color: rgb(0, 255, 157);
    color: white;
    padding: 15px;
    border-radius: 4px;
    display: flex !important;
    column-gap: 10px;
}

.message {
    background-color: wheat;
    /*margin-bottom: 50px;*/
    border-radius: 30px;
    padding: 12px;
    margin: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    overflow-y: auto;
}

textarea {
    max-width: 250px;
}