html {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    background-image: linear-gradient(to bottom, white, rgb(177, 204, 196)) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    min-height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

button {
    padding: 3px;
    border-radius: 5px;
    border: 3px rgb(166, 230, 250) outset;
    background-color: rgb(77, 219, 219);
}

button:hover {
    background-color: rgb(46, 146, 146);
    border-width: 2px;
}

button:active {
    background-color: rgb(41, 100, 90);
    border: 2px rgb(0, 100, 139) inset;
}

header {
    background-color: rgb(149, 205, 255);
    background-image: linear-gradient(rgb(149, 205, 255), rgb(188, 255, 255));
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

footer {
    background-color: rgb(149, 205, 255);
    background-image: linear-gradient(rgb(188, 255, 255), rgb(149, 205, 255));
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

a button {
    background-color: rgb(214, 214, 214);
    color: blue;
}

header button {
    background-color: yellow;
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    background-attachment: fixed;
}

a {
    color: blue;
}

#container {
    width: 750px !important;
    margin: auto !important;
    justify-content: center !important;
}

#webpage {
    display: flex !important;
    flex-direction: row;
    word-wrap: none !important;
}

#main {
    margin: 10px;
    padding: 5px;
    float: left !important;
    width: 570px !important;
}

#sidebar {
    float: right !important;
}

#sidebar ul {
    padding: 0px !important;
}

/* Sun image on the header */
#sun {
    height: 90px;
    display: inline-block;
    position: absolute;
    margin-left: 234px;
    margin-top: -52px;
}

#sun-text {
    height: 90px;
    display: inline-block;
    position: absolute;
    margin-left: 152px;
    margin-top: -35px;
}